.bars{
    width:1vw;
    background-color:red;
    margin-left: 0.5vw;
    display:inline-block;
}
.grafic{
    background-color: aquamarine;
    height:70vh;
    margin-left:10vw;
    margin-top:20vh;
    margin-right:10vw;
    /*border-radius: 2vw;*/
}
.buttoN{
    position: absolute;
    top:90vh;
    left:30vw;
    height: 5vh;
    width: 10vw;
    background-color:green;
}
.buttN{
    position: absolute;
    top:90vh;
    left:50vw;
    height: 5vh;
    width: 10vw;
    background-color:green;
}
.bmerge{
    position: absolute;
    top:90vh;
    left:61vw;
    height: 5vh;
    width: 10vw;
    background-color:green; 
}
.pad{
    padding-top: 2.5vh;
    padding-left: 5vw;
    height:30vh;
}
.afis{
    position: absolute;
    top:90vh;
    left:82vw;
    height: 5vh;
    width: 10vw;
    background-color:green;
}